<h1>Formulário</h1>

<form action="http://localhost:3003/usuarios" method="POST">
     <input type="hidden" name="id" value="3">
     <input type="text" name="nome">
     <input type="password" name="senha">
     <textarea name="bio"  cols="30" rows="10"></textarea>
     <div>
          <input type="radio" name="tipo" value="Admin"> Admin
          <input type="radio" name="tipo" value="Regular"> Regular
          <input type="radio" name="tipo" value="Professor"> Professor
     </div>
     <div>
          <input type="checkbox" name="ativo"> Ativo
     </div>

     <select name="estado">
     <optgroup label="Regiao Norte" >
          <option value="ac">ACRE</option>
          <option value="ba">BAHIA</option>
          <option value="ce">Ceara</option>
     </optgroup>
     <optgroup label="Regiao Sul" >
          <option value="SC" >Santa Catarina</option>
          <option value="SU">Sul</option>
          <option value="MT">Mato Grosso</option>
     </optgroup>
     </select>

     <select name="interesses" multiple size="6">
          <option value="js">JAVASCRIPT</option>
          <option value="java">JAVA</option>
          <option value="php">PHP</option>
          <option value="python">PYTHON</option>
          <option value="go">GO</option>
          <option value="c">C</option>
     </select>

     <button formaction="http://localhost:3003/usuarios">Incluir</button>
     <button formaction="http://localhost:3003/usuarios/3">Alterar</button>

</form>

<style>
     input,
     textarea,
     select{
          display: block;
          margin-bottom: 10px;
     }
     input[type=radio] {
          display: inline;
     }
     input[type=checkbox] {
          display: inline;
     }
</style>