<h1>Projeto</h1>
<ul class="tree">
    <li>
        <span ev-folder>back-end</span> 
        <ul>
            <li>
                <span ev-folder>app</span>
                <ul>
                    <li>produto.js</li>
                    <li>usuario.js</li>
                    <li>venda.js</li>
                </ul>
            </li>
            <li>
              <span ev-folder>config</span>  
                <ul>
                    <li>banco.js</li>
                    <li>rotas.js</li>
                    <li>servidor.js</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
       <span ev-folder>front-end</span>  
        <ul>
            <li>
               <span ev-folder>public</span> 
                <ul>
                    <li>app.css</li>
                    <li>app.js</li>
                    <li>app.html</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>


<link rel="stylesheet" href="http://files.cod3r.com.br/curso-web/tree.css">

<script>
    document.querySelectorAll('[ev-folder]').forEach(folder => {
        folder.onclick = function (e) {
            const ul = folder.nextElementSibling
            const d = ul.style.display
            ul.style.display = d ==='none' ? 'block' : 'none'
        }
    })
</script>