<h1>Listas</h1>

<!--
    Lista Ordenada
-->
<h2>Aprovados</h2>
<ol>
    <li>Bia</li>
    <li>Pedro</li>
    <li>Ana</li>
    <li>Joao</li>
</ol>

<!--
    Lista não Ordenada
-->
<h2>Lista de Compras</h2>
<ul>
    <li>Queijo</li>
    <li>Leite</li>
    <li>Arroz
        <ul>
            <li>ANINHADAS</li>
        </ul>
    </li>
    <li>Pao</li>
</ul>
<!--Lista de Definição-->
<h2>Principais termos de glossário de Cloud Computing</h2>
<dl>
    <dt>BaaS</dt>
    <dd>Backend Como Serviço</dd>
    <dt>IaaS</dt>
    <dd>Infraestrutura Como Serviço</dd>
    <dt>PaaS</dt>
    <dd>Plataforma Como Serviço</dd>
    <dt>SaaS</dt>
    <dd>Softare Como Serviço</dd>
</dl>