<h1>Links</h1>

<!--URL ABSOLUTA-->

<a id='inicio' href="http://www.google.com.br">Google 1</a><br>
<a href="http://www.google.com.br" target="blank">Google 2</a><br>

<a href="index.html">Voltar1</a><br>
<a href="/index.html">Volta2</a><br>
<a href="../index.html">Volta3</a><br>

<a href="mailto:everson_helltram@hotmail.com">Entre em contato</a>

<div id="noticia" style="position:absolute;top:2000px;">
      <h1>Noticia Buemba!</h1>
      <p>Não era nada</p>
      <a href="#inicio">Voltar inicio</a>
</div><br>

<a href="#noticia">Ir para noticia</a>
