<h1>Tags não visuais</h1>


<!--
    Tags Semânticas..

    section - agrupamento temático de conteúdo
    article - conteúdo auto-contido
    header - cabeçalho do documento
    footer - rodapé do documento
    nav - agrupamento dos links de navegação
    aside - de lado(ex. sidebar). Relacionado com o conteúdo em volta (adendo)
    details - exibe detalhes que pode ser exibidos ou escondidos


    As Famosas...

    div- divisão ou seção
    span - usado para agrupar elementos inline
-->

<div>Área 1</div>
<div>Área 2</div>

<p>
    Esse é um texto com <span class="diferente">muitas palavras</span> e ponto.
</p>

<style>
    div{
        display: inline;
    }
    .diferente{
        display: block;
        color: red;
        font-weight: bold;
        font-size: 30px;

    }
</style>