<!-- Cabeçalhos-->
<h1>Cabeçalho Principal</h1>
<h2>Cabeçalho Nivel 2</h2>
<h3>Cabeçalho Nivel 3</h3>
<h4>Cabeçalho Nivel 4</h4>
<h5>Cabeçalho Nivel 5</h5>
<h6>Cabeçalho Nivel 6</h6>

<!-- Parágrafo -->
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam atque earum nam exercitationem repudiandae pariatur mollitia. Ipsam sunt ab deserunt aut, placeat perspiciatis explicabo nihil rerum sed, culpa ratione nulla ut asperiores amet labore beatae harum, quam quos deleniti nam.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam atque earum nam exercitationem repudiandae pariatur mollitia. Ipsam sunt ab deserunt aut, placeat perspiciatis explicabo nihil rerum sed, culpa ratione nulla ut asperiores amet labore beatae harum, quam quos deleniti nam.
</p>

<!-- Negrito e Itálico-->
<p>Texto em <b>negrito</b> e <i>itálico</i></p>

<!--Sobrescrito e Subscrito-->
<p>2 <sup>2</sup> = 4 e H <sub>2</sub>O = a água</p>

<!--Espaço em branco ... ENTIDADE &nbsp; PARA DAR ESPAÇO mais e melhor coloca um span e aplica CSS-->
<p>Espaço  <span class="..">Entre</span>            palavras </p>
