<h1>Texto (Parte 2)</h1>

<!--Quebra de linha e quebra temática-->
<p>Isso está <br>em uma <br /> nova linha.</p>
<p>Tema Interessante 1</p>
<hr/>
<p>Tema Interessante 2</p>

<!-- Marcações semânticas-->
<p><strong>Cuidado!</strong> Alta voltagem! <em>Somente pessoal autorizado!</em></p>
<blockquote cite="https://en.wikipedia.org/wikipedia"><p>Citações longas...</p></blockquote>
<p>Fulano disse que <q>tempor incididunt ut labore et dolore</q></p>

<p>
    <abbr title="Professor">Prof</abbr> Fulano em seu livro
    <cite>Livro bem legal</cite> tarara tarara tarara
</p>
<p><dfn>Buraco Negro</dfn> é uma região de espaço</p>

<address>
    <p>Rua ABC n<sup>o</sup> 123...</p>
</address>
<p>O Oscar vai para <del>LA LA LAND</del> <ins>Monlight</ins> OU <u>Monlight</u></p>

<p>Computador de <s>R$ 2.249,90</s> por R$ 1.799,00.</p>