<tag>
    <bla>
        <opa>
            Texto
        </opa>
    </bla>
</tag>

<tag /> <!-- HTML --><meta /><br /><input />

<tag param1="valor1" param2='valor2'>
    <!-- Corpo da Tag-->
</tag>

<input type="button" value="processar!">

<input type="text" cod3r-cpf> <!--Posso passar 1 só atributo chave e chamar um 
    java script para executar ou até mesmo adicionar uma mascara para o cpf-->
    <br>
    <script>
        function escreve(){
            console.log('Olá')
        }
    </script>
<label>aqui</label>
<input type="submit" onclick="escreve()" value="executar">